/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

/* Nav Styling */

.navbar {
  background: #333;
  color: white;
  overflow: auto;
}

.navbar a {
  color: white;
}

.navbar h1 {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.navbar .links {
  list-style: none;
  float: right;
  display: block;
  padding: 20px;
  text-align: center;
}

/* Flex Box Styling  */

.flex-container {
  background-color: #f4f4f4;
  /* display: flex; */
  /* flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  /* height: 50vh; */
}

.item {
  background: #f4f4f4;
  border: #ccc solid 2px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  /* width: 200px;
  flex: 1 1 200px;  */
}

.item-1 {
  /* flex-shrink: 0;
  width: 100%; */
  /* background-image: url(https://mlb.mlb.com/images/players/mugshot/ph_543063.jpg); */
}
.item-2 {
  /* flex-grow: 1; */
}
